<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="container-fluid">
    Join URL: <a href="{{ request.scheme }}://{{ request.get_host }}/demos/{{ demo.pk }}/join" >{{ request.scheme }}://{{ request.get_host }}/demos/{{ demo.pk }}/join</a>
    <br><br><br>
    Batch <i class="material-icons">chevron_left</i> {{ demo.current_batch }} <i class="material-icons">chevron_right</i>
    <br>
    Current Entry: <i class="material-icons">chevron_left</i> {{ demo.current_entry }} <i class="material-icons">chevron_right</i>
    <br>
    Current Field: <i class="material-icons">chevron_left</i> {{ demo.current_field }} <i class="material-icons">chevron_right</i>
    <br><br><br>
    State:
    <div class="btn-group">
        <button class="btn btn-primary" {% if not demo.can_wait %}disabled{% endif %}>Pause</button>
        <button class="btn btn-success" {% if not demo.can_race %}disabled{% endif %}>Play</button>
        <button class="btn btn-danger" {% if not demo.can_finish %}disabled{% endif %}>Finish</button>
    </div>
    <br><br>
    Teams:
    <div class="form-group">
        <button type="button" id="team-sort-input" class="btn btn-primary">Auto-Sort Teams</button>
        <label for="team-name-input" id="team-sort-label">reorganizes all players</label>
    </div>
    <div>
        <!--todo db caching-->
        Total players: <span id="total-players">{{ demo.player_set.count }}</span>
    </div>
    <span class="badge badge-primary badge-pill">Group Point Average</span>
    <span class="badge badge-warning badge-pill">Total Group Players</span>
    <span class="badge badge-secondary badge-pill">Individual Player's Points</span>
    <span class="badge badge-danger badge-pill">Individual Player's Level</span>
    <span class="badge badge-info badge-pill">Player's Team</span>
    <div class="list-group" >
        {% for team in demo.teams_in_winning_order %}
            <div class="list-group-item">
                <i class="material-icons">delete_forever</i>
                <span class="badge badge-primary badge-pill">{{ team.average_points }}</span>
                <span class="badge badge-warning badge-pill">{{ team.total_players }}</span>
                <a href="#{{ team.name }}-group" data-toggle="collapse">
                    {{ team.name }}
                </a>
                {% for player in team.players_in_best_order %}
                    {% if forloop.first %}
                        <div id="{{ team.name }}-group" class="list-group collapse">
                    {% endif %}
                    <div class="list-group-item">
                        <span class="dropdown">
                            <a data-toggle="dropdown">
                                <span class="badge badge-secondary badge-pill">{{ player.points }}</span>
                            </a>
                            <span class="dropdown-menu">
                                <label>
                                    Change Points
                                    <input type="text" class="dropdown-item form-control" value="{{ player.points }}">
                                </label>
                                <button class="dropdown-item btn">Submit</button>
                            </span>
                        </span>

                        <span class="dropdown">
                            <a data-toggle="dropdown">
                                <span class="badge badge-danger badge-pill">{{ player.skill_level }}</span>
                            </a>
                            <span class="dropdown-menu">
                                <label>
                                    Change Level
                                    <select name="skill_level" class="form-control">
                                        <option value="beg" {% if player.skill_level == "beg" %}selected {% endif %}>Beginner</option>
                                        <option value="int" {% if player.skill_level == "int" %}selected {% endif %}>Intermediate</option>
                                        <option value="adv" {% if player.skill_level == "adv" %}selected {% endif %}>Advanced</option>
                                    </select>
                                </label>
                                <button class="dropdown-item btn">Submit</button>
                            </span>
                        </span>

                        <span class="dropdown">
                            <a data-toggle="dropdown">
                                <span class="badge badge-info badge-pill">{{ team.name }}</span>
                            </a>
                            <span class="dropdown-menu">
                                <label>
                                    Change Team
                                    <select name="skill_level" class="form-control">
                                        <option value="">None</option>
                                        {% for team in demo.team_set.all %}
                                            <option value="{{ team.pk }}" {% if player.team_id == team.id %}selected{% endif %}>{{ team.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <button class="dropdown-item">Submit</button>
                            </span>
                        </span>

                        <span class="dropdown">
                            <a data-toggle="dropdown">
                                {{ player.name }}
                            </a>
                            <span class="dropdown-menu">
                                <label>
                                    Change Name
                                    <input type="text" class="dropdown-item form-control" maxlength="63" value="{{ player.name }}">
                                </label>
                                <button class="dropdown-item btn">Submit</button>
                            </span>
                        </span>
                    </div>
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <div class="list-group-item">
                <span class="badge badge-primary badge-pill">{{ demo.teamless_players_average_points }}</span>
                <span class="badge badge-warning badge-pill">{{ demo.teamless_players|length }}</span>
            <a href="#teamless-group" data-toggle="collapse">
                Players without a team
            </a>
            <div id="teamless-group" class="list-group collapse">
                {% for teamless_player in demo.teamless_players %}
                    <div class="list-group-item">
                        <span class="dropdown">
                            <a data-toggle="dropdown">
                                <span class="badge badge-secondary badge-pill">{{ teamless_player.points }}</span>
                            </a>
                            <span class="dropdown-menu">
                                <label>
                                    New Points
                                    <input type="text" class="dropdown-item form-control" value="{{ teamless_player.points }}">
                                </label>
                                <button class="dropdown-item btn">Submit</button>
                            </span>
                        </span>

                        <span class="dropdown">
                            <a data-toggle="dropdown">
                                <span class="badge badge-danger badge-pill">{{ teamless_player.skill_level }}</span>
                            </a>
                            <span class="dropdown-menu">
                                <label>
                                    Change Level
                                    <select name="skill_level" class="form-control">
                                        <option value="beg" {% if teamless_player.skill_level == "beg" %}selected {% endif %}>Beginner</option>
                                        <option value="int" {% if teamless_player.skill_level == "int" %}selected {% endif %}>Intermediate</option>
                                        <option value="adv" {% if teamless_player.skill_level == "adv" %}selected {% endif %}>Advanced</option>
                                    </select>
                                </label>
                                <button class="dropdown-item">Submit</button>
                            </span>
                        </span>

                        <span class="dropdown">
                            <a data-toggle="dropdown">
                                <span class="badge badge-info badge-pill">No Team</span>
                            </a>
                            <span class="dropdown-menu">
                                <label>
                                    Change Team
                                    <select name="skill_level" class="form-control">
                                        <option value="" selected>None</option>
                                        {% for team in demo.team_set.all %}
                                            <option value="{{ team.pk }}">{{ team.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <button class="dropdown-item">Submit</button>
                            </span>
                        </span>

                        <span class="dropdown">
                            <a data-toggle="dropdown">
                                {{ teamless_player.name }}
                            </a>
                            <span class="dropdown-menu">
                                <label>
                                    Change Name
                                    <input type="text" class="dropdown-item form-control" value="{{ teamless_player.name }}">
                                </label>
                                <button class="dropdown-item btn">Submit</button>
                            </span>
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="team-name-input" id="new-team-name-label">New Team Name</label>
            <input type="text" id="team-name-input" class="form-control">
        </div>
        <input type="submit" value="Add" class="btn btn-primary">
    </div>
</div>
</body>
</html>