<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="container-fluid">
    Join URL: <a href="{{ request.get_host }}/demos/{{ demo.pk }}/join" >{{ request.get_host }}/demos/{{ demo.pk }}/join</a>
    <br><br><br>
    Batch <i class="material-icons">chevron_left</i> {{ demo.current_batch }} <i class="material-icons">chevron_right</i>
    <br>
    Current Entry: <i class="material-icons">chevron_left</i> {{ demo.current_entry }} <i class="material-icons">chevron_right</i>
    <br>
    Current Field: <i class="material-icons">chevron_left</i> {{ demo.current_field }} <i class="material-icons">chevron_right</i>
    <br><br><br>
    State:
    <div class="btn-group">
        <button class="btn btn-primary" {% if not demo.can_play %}disabled{% endif %}>Start Playing</button>
        <button class="btn btn-success" {% if not demo.can_race %}disabled{% endif %}>Race Next Field</button>
        <button class="btn btn-danger" {% if not demo.can_finish %}disabled{% endif %}>Finish Game</button>
    </div>
    <br><br>
    Teams:
    {% if demo.teams_in_winning_order or demo.teamless_players %}
        <div class="list-group" style="padding: 0">
    {% endif %}
    {% for team in demo.teams_in_winning_order %}
        <div class="list-group-item">
            <i class="material-icons">delete_forever</i>
            <span class="badge badge-primary badge-pill">{{ team.average_points }}</span>
            <a href="#{{ team.name }}-group" data-toggle="collapse">
                {{ team.name }}
            </a>
            {% for player in team.players_in_best_order %}
                {% if forloop.first %}
                    <div id="{{ team.name }}-group" class="list-group collapse">
                {% endif %}
            <a class="list-group-item">
                <span class="badge badge-secondary badge-pill">{{ player.points }}</span>
                {{ player.name }} - {{ player.skill_level }}
            </a>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    {% for teamless_player in demo.teamless_players %}
        <div class="list-group-item">
            <a href="#teamless-group" data-toggle="collapse">
                <span class="badge badge-primary badge-pill">{{ demo.teamless_players_average_points }}</span>
                Players without a team
            </a>
        {% if forloop.first %}
            <div id="teamless-group" class="list-group collapse">
        {% endif %}
        <a class="list-group-item">
            <span class="badge badge-secondary badge-pill">{{ teamless_player.points }}</span>
            {{ teamless_player.name }} - {{ teamless_player.skill_level }}
        </a>
        {% if forloop.last %}
            </div>
        {% endif %}
        </div>
    {% endfor %}

    {% if demo.teams_in_winning_order or demo.teamless_players %}
        </div>
    {% endif %}
    <form>
        <div class="form-group">
            <label for="team-name-input" id="new-team-name-label">New Team Name</label>
            <input type="text" id="team-name-input" class="form-control">
        </div>
        <input type="submit" value="Add" class="btn btn-primary">
    </form>
</div>
</body>
</html>